/* FONT IMPORT */

@import url('https://fonts.googleapis.com/css?family=Emilys+Candy|Quicksand:400,700&display=swap');

/* SET UP */

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(164deg, rgb(166,224,239) 0%, rgb(254,202,208) 100%);
  background-repeat: no-repeat;
  font-family: 'Quicksand', sans-serif;
  font-size: 2rem;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

/* TYPOGRAPHY */

h1 {
  font-family: 'Emilys Candy';
  font-size: 7rem;
}

/* HEADER STYLING */

header {
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.userDeets {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* MAIN STYLING */

main {
  min-height: 70vh;
}

section.logInSection {
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
}

.logInContainer {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* MAIN: SECTION: newThRd STYLING */

section.newThRd {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

/* MAIN: BUTTON STYLING */

button {
  border: none;
  background: none;
  border-bottom: 2px solid black;
  border-radius: 10px;
  padding: 3px 15px 0 15px;
  font-weight: 700;
}

button:hover,
button:focus {
  background: linear-gradient(164deg, rgb(254,202,208) 0%, rgb(166,224,239) 100%);
}

/* MAIN: SECTION: FORM STYLING */

section.form {
  padding: 50px 0;
  width: 80%;
  margin: 0 auto;
}

.closeForm {
  font-size: 3.5rem;
  align-self: flex-end;
}

.nextFieldSet {
  font-size: 3.5rem;
  align-self: flex-end;
  margin-top: 10px;
}

.form form {
  display: flex;
  flex-direction: column;
}

fieldset {
  border-radius: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

legend {
  padding: 0 10px;
  font-weight: 700;
}

input {
  border: none;
  background: rgba(255, 255, 255, 0.5);
  padding: 10px;
}

textarea {
  resize: none;
  width: 100%;
  border: none;
  background: rgba(255, 255, 255, 0.5);
  padding: 10px;
  margin-top: 15px;
}

.fs1 {
  height: calc(100vh - 20vh - 10vh - 100px);
}

.fs1 textarea {
  flex-grow: 2;
}

.inputRange {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 15px;
}

.inputRange input[type=text] {
  width: 50%;
}

.inputRange label {
  width: 50%;
}

.fs3 {
  min-height: 90vh;
}

.labelContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.inputTContainer {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 2;
}

.inputTContainer textarea:not(:last-child) {
  border-right: 1px dashed rgba(0, 0, 0, 0.5);
}

.inputTContainer textarea,
.inputTContainer p {
  width: 25%;
}

.labelContainer label,
.labelContainer p {
  width: 25%;
}

.fs4 button {
  align-self: flex-end;
  margin-top: 10px;
}

.fs4 {
  height: calc(100vh - 20vh - 10vh - 100px);
}

.fs4 textarea {
  flex-grow: 2;
}

.mobileLabel {
  display: none;
}

/* react-input-range styling from npm package */

.input-range__slider {
  appearance: none;
  background: black;
  border: 1px solid black;
  border-radius: 100%;
  cursor: pointer;
  display: block;
  height: 1rem;
  margin-left: -0.5rem;
  margin-top: -0.65rem;
  outline: none;
  position: absolute;
  top: 50%;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
  width: 1rem; }

.input-range__slider:active {
  transform: scale(1.3); }

.input-range__slider:focus {
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.2); }

.input-range--disabled .input-range__slider {
  background: #cccccc;
  border: 1px solid #cccccc;
  box-shadow: none;
  transform: none; }

.input-range__slider-container {
  transition: left 0.3s ease-out; }

.input-range__label {
  color: black;
  font-family: "Helvetica Neue", san-serif;
  font-size: 0.8rem;
  transform: translateZ(0);
  white-space: nowrap; }

.input-range__label--min,
.input-range__label--max {
  bottom: -1.4rem;
  position: absolute; }

.input-range__label--min {
  left: 0; }

.input-range__label--max {
  right: 0; }

.input-range__label--value {
  position: absolute;
  top: -1.8rem; }

.input-range__label-container {
  left: -50%;
  position: relative; }

.input-range__label--max .input-range__label-container {
  left: 50%; }

.input-range__track {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0.3rem;
  cursor: pointer;
  display: block;
  height: 0.3rem;
  position: relative;
  transition: left 0.3s ease-out, width 0.3s ease-out; }

.input-range--disabled .input-range__track {
  background: #eeeeee; }

.input-range__track--background {
  left: 0;
  margin-top: -0.15rem;
  position: absolute;
  right: 0;
  top: 50%; }

.input-range__track--active {
  background: rgba(0, 0, 0, 0.5); }

.input-range {
  height: 1rem;
  position: relative;
  width: calc(50% - 30px);
  margin: 0 15px; }

/* MAIN: SECTION: LIBRARY STYLING */

.thRdLibrary h2 {
  font-family: 'Emilys Candy';
  font-size: 4rem;
  margin-bottom: 10px;
}

.recordGallery h3 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
  font-family: 'Emilys Candy';
}

.recordGallery ul {
  display: flex;
  flex-wrap: wrap;
}

.recordGallery li {
  background: rgba(255, 255, 255, 0.5);
  height: 250px;
  width: calc(100% / 4 - (30px / 4));
  position: relative;
  word-wrap: break-word;
  overflow: hidden;
  padding: 15px;
  margin-top: 15px;
}

.recordGallery li:not(:nth-child(4n)) {
  margin-right: 10px;
}

.openRecord {
  font-size: 2.5rem;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 10px;
  right: 10px;
}

.viewRecord {
  display: flex;
  flex-direction: column;
}

.toHide {
  display: none;
}

.viewOptions {
  align-self: center;
}

.viewOptions button {
  margin: 0 15px;
}

.viewRecord h2,
.viewRecord h3 {
  text-align: center;
  margin-top: 15px;
}

.viewRecord .labelContainer {
  font-weight: 700;
}

.viewRecord .inputTContainer {
  font-size: 1.8rem;
}

/* FOOTER STYLING */

footer {
  height: 10vh;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid black;
  border-radius: 10px;
  padding: 0 5px;
}

footer a:hover,
footer a:focus {
  background: linear-gradient(164deg, rgb(254,202,208) 0%, rgb(166,224,239) 100%);
}

/* MEDIA QUERIES */

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  h1 {
    font-size: 5rem;
  }

  .logInContainer {
    width: 100%;
  }

  .logInContainer:not(:last-child) {
    margin-bottom: 20px;
    text-align: center;
  }

}

/* Landscape phones and down */
@media (max-width: 480px) {
  .inputTContainer textarea,
  .inputTContainer p {
    width: 100%;
  }

  .inputTContainer textarea {
    height: 150px;
  }

  .inputTContainer p {
    font-size: 1.6rem;
  }

  .labelContainer label,
  .labelContainer p {
    width: 100%;
    display: none;
  }

  .toHide {
    display: inline;
    font-weight: 700;
  }

  body {
    font-size: 1.8rem;
  }

  .wrapper {
    width: 95%;
  }

  header {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  h1,
  .thRdLibrary h2 {
    text-align: center;
  }

  .thRdLibrary h2 {
    font-size: 2.5rem;
  }

  .recordGallery li {
    height: 250px;
    width: calc(100% / 2 - 5px);
    padding: 15px;
    margin-top: 15px;
  }
  
  .recordGallery li:not(:nth-child(4n)) {
    margin-right: 0;
  }

  .recordGallery li:not(:nth-child(2n)) {
    margin-right: 5px;
  }

  .inputRange input[type=text] {
    width: 100%;
  }
  
  .inputRange label {
    width: 100%;
  }

  .input-range {
    width: 100%;
    margin-top: 25px;
  }

  .nextFieldSet {
    margin-top: 25px;
  }

  .mobileLabel {
    display: inline-block;
    margin-top: 15px;
  }

  section.form {
    padding: 25px 0;
    width: 100%;
  }
}